/data/edge-list
data/politician-data.csv
data/politician-data.json
data/filtered_edge_list
data/politician_firstname.json
output_fplus.json
faceap_out.csv
model/page_views
model/page_views.jsonpageviews\pagecounts-20151231-230000 
pageviews/files/
pageviews/filtered_files/